.section-header{
  font-size: 20px;
}

.section-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-button{
  border-radius: 10px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  height: 50%;
}

.section-button:hover{
  background-color: lightgreen;
  cursor: pointer;
}

.section-search{
  width: 15%;
  height: 45px;
}

.section-card{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 30px;
  width: auto;
  gap: 2em;
}
